#banner h1 {
    opacity: 1;
    color: black;
    text-align: center;
    margin: 50px 0px;
    background-color: white;
    opacity: 0.75;
}

#banner {
    background-image: url("img/banner.jpg");
    background-size: cover;
    height: 240px;
    padding-top: 50px;
    opacity: 0.9;
}

.gallery-item {
    margin-top: 50px;
}

#introduction {
    position: relative;
}