#banner {
    background-image: url("img/banner.jpg");
    background-size: cover;
    height: 240px;
    padding-top: 50px;
    opacity: 0.9;
}

#banner h1 {
    opacity: 1;
    font-family: "Palatino";
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 50px 0px;
    background-color: white;
    opacity: 0.75;
}

#content {
    padding-top: 30px;
    
}

p {
    font-size: 20px;
    font-family: Verdana;
    font-weight: lighter;
    padding: 30px;
}

header {
    margin: 40px 0px;
}

.start:hover {
    color: white;
    opacity: 70%;
}

.gallery-item {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

